/* Ini file CSS */

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #555;
    margin: 40px;
    font-size: 20px;
}

h1 {
    color: antiquewhite;
    font-size: 50px;
}

main {
    max-width: 700px;
    justify-self: center;

    /* Background Matter */
    background-color: khaki;
    opacity: 90%;
    border-radius: 20px;
    padding: 10px;
}

.main-header {
    text-align: center;
}
.main-header p {
    margin: 40%, 40%;
    padding: 20px;
    max-width: 790px;
    justify-self: center;
    color: antiquewhite
}

section {
    padding: 8px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=number]:focus {
    border: 3px solid #555;
}
::placeholder {
    font-size: 13px;
}

.button-group {
    margin-top: 16px;
}

button {
    border: none;
    padding: 8px;
    border-radius: 4px;
    font-size: large;
}

.btn-konversi {
    background-color: whitesmoke;
}
.btn-konversi:hover{
    background-color: aquamarine;
    color: white;
}

.btn-reset {
    background-color: whitesmoke;
}

.btn-reset:hover{
    background-color: lightgray;
    color: white;
}

.btn-reverse {
    background-color: whitesmoke;
}
.btn-reverse:hover{
    background-color: lightgreen;
    color: white;
}

.remark {
    font-weight: bold;
    font-size: x-large;
}

footer {
    text-align: center;
}
